body {
   font-family: 'Vollkorn SC', serif;
}

#container{
    background: #2F3E46;
    width: 400px;
    margin: auto;
    padding: 52px
}
h1{
    color: white;
    margin: 0;
}
p{
    color: #CAD2C5;
    margin: 0 0 30px;
    font-weight: 400;
    
}
span{
    color: #f07167;
    font-weight: bold;
}
.scale{
    color: #e6ccb2;
    display: flex;
    margin: 10px 0;
    font-weight: 400;
    
}
#strength{
    width: 300px;
    margin: auto; 
    display: block   
}
button{
    color: white;
    background-color: #f07167;
    font-size: smaller;
    width: 159px;
    margin: 25px auto;
    padding: 8px 10px;
    border-radius: 5px;
    display: block;
    font-family: 'Eagle Lake', cursive
    ;
   
}
.options{
    display: inline-block;
    padding: 20px;
    margin-left: 25px;
    background-color: #354F52;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    font-size: 15px;
}
#generate-btn:hover{
    color: #1F2937;
    font-weight: bold;
    box-shadow: 3px 7px 7px #D5D4D8;
    border: none;
    padding: 15px;
    width: 180px;
}